:root {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

span,
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 5px;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
.title_h1 {
  color: white;
  line-height: 72px;
}
.title_h2 {
  line-height: 58px;
}

.background-text {
  font-family: tahoma;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(193, 193, 193, 0.2);
}

.price-block {
  display: none;
  width: 100%;
  margin-top: 15px;
  white-space: nowrap;
}
.price-block__button-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid #fff;
  height: 35px;
  min-width: 130px;
  max-width: 140px;
  font-size: 0.75rem;
  overflow: hidden;
}
.price-block__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  width: 40px;
}
.price-block__view-img {
  width: 22px;
}

@media (max-width: 950px) {
  :root {
    font-size: 20px;
  }
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 16px;
    letter-spacing: 1;
  }
  .animate {
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 576px) {
  .title_h1 {
    line-height: 58px;
  }
  .title_h2 {
    line-height: 48px;
  }
}
@media (max-width: 430px) {
  .title {
    font-size: 1.7rem;
  }
  .title_h1 {
    line-height: 35px;
  }
  .title_h2 {
    line-height: 35px;
  }
  .price-block__button-price {
    min-width: 100px;
  }
}
.hero {
  background: silver;
  background-image: linear-gradient(85deg, rgba(48, 50, 99, 0.67) 0%, rgba(48, 50, 99, 0.67) 100%), url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 810px;
  padding: 70px 75px 0;
}
.hero-content__title {
  margin-bottom: 25px;
  max-height: 144px;
  overflow: hidden;
}
.hero-content__descr {
  text-align: center;
  margin-bottom: 55px;
  color: white;
  line-height: 36px;
  max-width: 835px;
  max-height: 108px;
  overflow: hidden;
}

.achivments-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 768px) {
  .achivments-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.achivment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 20px;
  width: 255px;
  height: 160px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: relative;
  margin-right: 60px;
}
.achivment::before, .achivment::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: calc((100% - 50px) / 2);
  top: 0;
}
.achivment::before {
  left: 0;
}
.achivment::after {
  right: 0;
}
.achivment:last-child {
  margin-right: 0;
}
.achivment__icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 28px;
}
.achivment__value {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
  max-width: 200px;
  overflow: hidden;
}
.achivment__descr {
  font-size: 0.75rem;
  text-align: center;
  max-height: 36px;
  max-width: 211px;
  overflow: hidden;
}
@media (max-width: 950px) {
  .achivment {
    width: 200px;
    margin-right: 30px;
  }
  .achivment__value {
    max-width: 170px;
  }
  .achivment__descr {
    max-height: 30px;
  }
}
@media (max-width: 768px) {
  .achivment {
    margin: 25px;
  }
  .achivment:last-child {
    margin-right: 30px;
  }
  .achivment__value {
    max-width: 140px;
  }
  .achivment__descr {
    max-height: 24px;
  }
}
@media (max-width: 576px) {
  .achivment {
    width: 170px;
    margin: 10px;
  }
  .achivment:last-child {
    margin-right: 10px;
  }
}
@media (max-width: 430px) {
  .achivment {
    border-top: 2px solid white;
    border-left: none;
    width: 220px;
    height: 90px;
  }
  .achivment::before, .achivment::after {
    height: calc((100% - 50px) / 2);
    width: 2px;
    top: initial;
  }
  .achivment::before {
    top: 0;
  }
  .achivment::after {
    left: 0;
    bottom: 0;
  }
  .achivment:last-child {
    margin-right: 10px;
  }
  .achivment__descr {
    max-height: 12px;
  }
  .achivment__icon {
    width: 25px;
    top: 50%;
    left: 0;
  }
}

@media (max-width: 950px) {
  .hero-content {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .hero-content {
    padding: 50px 0;
    height: initial;
  }
  .hero-content__title {
    margin-bottom: 20px;
  }
  .hero-content__descr {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .hero-content__title {
    max-height: 232px;
  }
}
@media (max-width: 430px) {
  .hero-content {
    padding: 15px 0;
  }
  .hero-content__title {
    margin-bottom: 15px;
    max-height: 140px;
  }
  .hero-content__descr {
    line-height: 20px;
    margin-bottom: 15px;
    max-height: 100px;
  }
}
.header {
  background: #fff;
  border-bottom: 2px solid #adadad;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  width: 70px;
  margin: 15px 20px 15px 0;
}
.logo__img {
  height: 60px;
}

.menu-block__button {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  font-size: 26px;
  line-height: 30px;
}
.menu__item {
  white-space: nowrap;
}
.menu__item-link {
  padding: 20px 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.menu__item-link:hover {
  color: #f6ae48;
}

@media (max-width: 950px) {
  .header-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .logo {
    margin: 5px;
  }
  .logo__img {
    height: 50px;
  }
  .menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 15px;
  }
  .menu-block__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50px;
    height: 50px;
    position: relative;
  }
  .menu-block__button-item, .menu-block__button::after, .menu-block__button::before {
    content: "";
    width: 60%;
    height: 3px;
    border-radius: 10px;
    background: #000;
    position: absolute;
  }
  .menu-block__button::before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .menu-block__button::after {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  .menu {
    display: none;
  }
}
.about {
  background-color: #fff;
  letter-spacing: 1px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 165px 0 250px 0;
}

.about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 205px;
  position: relative;
}
.about-main__title {
  z-index: 2;
  color: #000;
  margin-right: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 175px;
          flex: 0 0 175px;
  max-height: 108px;
  overflow: hidden;
}
.about-main__descr {
  z-index: 2;
  margin-right: 70px;
  font-size: 0.85rem;
  line-height: 28px;
  max-width: 760px;
  max-height: 305px;
  overflow: hidden;
}
.about-main__bg-text {
  z-index: 1;
  font-size: 16rem;
  letter-spacing: 17px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
  width: 100%;
}

.about-additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 25px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.about-additional:hover {
  background-color: #f6ae48;
  color: #fff;
}
.about-additional:hover .price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.about-additional:hover .about-additional__icon-img:first-child {
  display: none;
}
.about-additional:hover .about-additional__icon-img:last-child {
  display: block;
}
.about-additional:first-child {
  padding-left: 5px;
}
.about-additional__icon {
  margin-bottom: 13px;
}
.about-additional__icon_mg {
  margin-bottom: 25px;
}
.about-additional__icon-img {
  max-width: 55px;
}
.about-additional__icon-img:last-child {
  display: none;
}
.about-additional__title {
  font-size: 0.85rem;
  margin-bottom: 10px;
  font-weight: bold;
  max-height: 41px;
  max-width: 370px;
  overflow: hidden;
}
.about-additional__descr {
  line-height: 24px;
  font-size: 0.6rem;
  max-height: 318px;
  max-width: 370px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .about-main__bg-text {
    left: 55%;
  }
}
@media (max-width: 950px) {
  .about-main__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
  .about-additional__title {
    max-height: 34px;
  }
  .about-main__bg-text {
    font-size: 14rem;
  }
}
@media (max-width: 768px) {
  .about-content {
    padding: 60px 0 110px 0;
  }
  .about-main {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
    padding: 0 15px;
  }
  .about-main__title {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54px;
            flex: 0 0 54px;
  }
  .about-main__descr {
    margin-right: 0;
  }
  .about-main__bg-text {
    font-size: 12rem;
    top: 15%;
    left: -3%;
    -webkit-transform: none;
            transform: none;
  }
  .about-services {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-additional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 10px 15px;
  }
  .about-additional__title {
    max-height: 28px;
  }
  .about-additional__descr {
    max-width: initial;
    max-height: 240px;
  }
  .about-additional__icon {
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .about-additional:first-child {
    padding-left: 15px;
  }
}
@media (max-width: 576px) {
  .about-main {
    margin-bottom: 50px;
  }
  .about-main__bg-text {
    font-size: 10rem;
    top: 25%;
  }
  .about-additional {
    margin-bottom: 15px;
  }
}
@media (max-width: 430px) {
  .about-content {
    padding: 30px 0 60px 0;
  }
  .about-main {
    margin-bottom: 40px;
    padding: 0 10px;
  }
  .about-main__descr {
    line-height: 20px;
  }
  .about-main__bg-text {
    font-size: 9rem;
    top: 30%;
  }
  .about-additional {
    padding: 5px 10px;
  }
  .about-additional:first-child {
    padding-left: 10px;
  }
  .about-additional__icon-img {
    height: 40px;
  }
  .about-additional__title {
    line-height: 32px;
  }
  .about-additional__descr {
    line-height: 20px;
    font-size: 0.75rem;
  }
}
.credo {
  background: silver;
  background-image: linear-gradient(85deg, rgba(48, 50, 99, 0.67) 0%, rgba(48, 50, 99, 0.67) 100%), url(../img/credo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.credo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 566px;
  padding: 125px 85px 0;
}
.credo-content__title {
  color: #fff;
  margin-bottom: 55px;
  max-height: 106px;
  overflow: hidden;
}
.credo-content__descr {
  text-align: center;
  color: white;
  line-height: 36px;
  max-width: 1043px;
  max-height: 180px;
  overflow: hidden;
}

@media (max-width: 950px) {
  .credo-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .credo-content {
    padding: 60px 0;
    height: initial;
  }
  .credo-content__title {
    margin-bottom: 20px;
  }
  .credo-content__descr {
    max-height: 240px;
  }
}
@media (max-width: 576px) {
  .credo-content__title {
    max-height: 100px;
  }
  .credo-content__descr {
    line-height: 30px;
  }
}
@media (max-width: 430px) {
  .credo-content {
    padding: 15px 0;
  }
  .credo-content__title {
    margin-bottom: 15px;
    max-height: 140px;
  }
  .credo-content__descr {
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */