*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

span,
img,
svg {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

:root {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #000;
}
:root .animate {
  -webkit-animation: none !important;
          animation: none !important;
}

body {
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

[class*=__container] {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

.pages {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
.title_h1 {
  color: white;
  line-height: 72px;
}
.title_h2 {
  line-height: 58px;
}

.background-text {
  font-family: tahoma;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(193, 193, 193, 0.2);
}

.price-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  white-space: nowrap;
}
.price-button__button-price {
  display: inline-block;
  text-align: center;
  font-size: 0.74rem;
  line-height: 21px;
  color: #fff;
  border: 2px solid #fff;
  padding: 6px 12px;
}
.price-button__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  fill: #fff;
}
.price-button__view:hover {
  background-color: rgba(255, 255, 255, 0.2117647059);
}
.price-button__view-icon {
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  width: 22px;
  height: 23px;
}

@media (max-width: 950px) {
  :root {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  :root {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .title_h1 {
    line-height: 55px;
  }
  .animate {
    -webkit-animation: none !important;
            animation: none !important;
  }
}
@media (max-width: 576px) {
  .title_h1 {
    line-height: 58px;
  }
  .title_h2 {
    line-height: 48px;
  }
}
@media (max-width: 430px) {
  .title {
    font-size: 1.7rem;
  }
  .title_h1 {
    line-height: 35px;
  }
  .title_h2 {
    line-height: 35px;
  }
  .price-button__button-price {
    min-width: 100px;
  }
}
.animate {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animate_fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
}
.animate_fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
          animation-name: fadeInRightBig;
}
.animate_fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
          animation-name: fadeInUpBig;
}
.animate_jackInTheBox {
  -webkit-animation-name: jackInTheBox;
          animation-name: jackInTheBox;
}

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-1000px, 0, 0);
            transform: translate3d(-1000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-1000px, 0, 0);
            transform: translate3d(-1000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(1000px, 0, 0);
            transform: translate3d(1000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(1000px, 0, 0);
            transform: translate3d(1000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
            transform: translate3d(0, 1000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
            transform: translate3d(0, 1000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.hero {
  background: silver;
  background-image: linear-gradient(85deg, rgba(48, 50, 99, 0.67) 0%, rgba(48, 50, 99, 0.67) 100%), url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 810px;
  max-width: 1100px;
  padding-top: 55px;
}
.hero__title {
  margin-bottom: 25px;
  max-height: 144px;
  overflow: hidden;
}
.hero__descr {
  text-align: center;
  margin-bottom: 55px;
  color: white;
  line-height: 36px;
  max-width: 835px;
  max-height: 108px;
  overflow: hidden;
}

.achivments-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .achivments-block {
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .achivments-block {
    gap: 20px;
  }
}

.achivment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 20px;
  width: 255px;
  height: 160px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: relative;
}
.achivment::before, .achivment::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: calc((100% - 45px) / 2);
  top: 0;
}
.achivment::before {
  left: 0;
}
.achivment::after {
  right: 0;
}
.achivment__icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  width: 35px;
  height: 35px;
  fill: #fff;
}
.achivment__icon_transform {
  -webkit-transform: translate(-43%, -40%);
          transform: translate(-43%, -40%);
}
.achivment__value {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
  max-width: 200px;
  overflow: hidden;
}
.achivment__descr {
  font-size: 0.75rem;
  text-align: center;
  max-height: 36px;
  max-width: 211px;
  overflow: hidden;
}
@media (max-width: 950px) {
  .achivment {
    width: 200px;
  }
  .achivment__value {
    max-width: 170px;
  }
  .achivment__descr {
    max-height: 30px;
  }
}
@media (max-width: 767.98px) {
  .achivment__value {
    max-width: 140px;
  }
  .achivment__descr {
    max-height: 24px;
  }
}
@media (max-width: 576px) {
  .achivment {
    width: 170px;
  }
}
@media (max-width: 430px) {
  .achivment {
    border-top: 2px solid white;
    border-left: none;
    width: 220px;
    height: 90px;
  }
  .achivment::before, .achivment::after {
    height: calc((100% - 30px) / 2);
    width: 2px;
    top: initial;
  }
  .achivment::before {
    top: 0;
  }
  .achivment::after {
    left: 0;
    bottom: 0;
  }
  .achivment__descr {
    max-height: 12px;
  }
  .achivment__icon {
    -webkit-transform: translate(-45%, -45%);
            transform: translate(-45%, -45%);
    width: 25px;
    height: 25px;
    top: 50%;
    left: 0;
  }
  .achivment__icon_transform {
    -webkit-transform: translate(-35%, -45%);
            transform: translate(-35%, -45%);
  }
}

@media (max-width: 767.98px) {
  .hero__container {
    height: initial;
    padding-top: 130px;
    padding-bottom: 100px;
  }
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__descr {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .hero__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .hero__title {
    max-height: 232px;
  }
}
@media (max-width: 430px) {
  .hero__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero__title {
    margin-bottom: 15px;
    max-height: 140px;
  }
  .hero__descr {
    line-height: 20px;
    margin-bottom: 15px;
    max-height: 100px;
  }
}
.header {
  background: #fff;
  border-bottom: 2px solid #adadad;
  position: sticky;
  width: 100%;
  top: -1px;
  z-index: 1000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.logo {
  position: relative;
  z-index: 20;
}
.logo__img {
  height: 60px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  font-size: 26px;
  line-height: 30px;
  white-space: nowrap;
}
.menu__link {
  display: block;
  padding: 15px 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.menu__link:hover {
  color: #f6ae48;
}

.menu-button {
  display: none;
}

@media (max-width: 950px) {
  .header__container {
    min-height: 80px;
  }
  .menu__list {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    font-size: 23px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 70px;
  }
  .logo__img {
    height: 50px;
  }
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 90px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 71px;
    background-color: #fff;
    z-index: 100;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    border-bottom: 2px solid #adadad;
  }
  .menu-open .logo {
    position: fixed;
    top: 9px;
    left: 15px;
  }
  .menu-open .menu__body,
.menu-open .menu__body::before {
    left: 0;
  }
  .menu-open .menu-button__item {
    width: 0;
  }
  .menu-open .menu-button::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .menu-button::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-open .menu-button {
    position: fixed;
    top: 9px;
    right: 15px;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .menu__link {
    font-size: 32px;
  }
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .menu-button:hover {
    background-color: rgba(48, 50, 99, 0.2705882353);
  }
  .menu-button__item, .menu-button::after, .menu-button::before {
    content: "";
    width: 60%;
    height: 2px;
    border-radius: 20px;
    background: #000;
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }
  .menu-button::before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .menu-button::after {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
.studio {
  letter-spacing: 1px;
}
.studio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 165px;
  padding-bottom: 290px;
}
.studio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 205px;
  position: relative;
}
.studio__title {
  z-index: 2;
  margin-right: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 175px;
          flex: 0 0 175px;
  max-height: 108px;
  overflow: hidden;
}
.studio__descr {
  z-index: 2;
  margin-right: 70px;
  font-size: 0.85rem;
  line-height: 28px;
  max-width: 760px;
  max-height: 305px;
  overflow: hidden;
}
.studio__background-text {
  z-index: 1;
  font-size: 16rem;
  letter-spacing: 17px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.studio-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .studio-services {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.studio-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 25px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.studio-service:hover {
  background-color: #f6ae48;
  color: #fff;
}
.studio-service:hover .studio-service__descr {
  margin-bottom: 15px;
}
.studio-service:hover .studio-service__price-hidden {
  display: block;
}
.studio-service:hover .studio-service__icon {
  fill: #fff;
}
.studio-service:first-child {
  padding-left: 5px;
}
.studio-service__icon {
  fill: #00b9e7;
  width: 54px;
  height: 58px;
  margin-bottom: 12px;
}
.studio-service__title {
  font-size: 0.85rem;
  margin-bottom: 10px;
  font-weight: bold;
  max-height: 41px;
  max-width: 370px;
  overflow: hidden;
}
.studio-service__descr {
  line-height: 24px;
  font-size: 0.6rem;
  max-height: 318px;
  max-width: 370px;
  overflow: hidden;
}
.studio-service__price-hidden {
  width: 100%;
  display: none;
}
@media (max-width: 950px) {
  .studio-service__title {
    max-height: 34px;
  }
}
@media (max-width: 767.98px) {
  .studio-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 10px 15px;
  }
  .studio-service:first-child {
    padding-left: 15px;
  }
  .studio-service__icon {
    margin-bottom: 0;
  }
  .studio-service__icon_mg {
    margin-right: 25px;
  }
  .studio-service__title {
    max-height: 28px;
  }
  .studio-service__descr {
    max-width: initial;
    max-height: 240px;
  }
}
@media (max-width: 576px) {
  .studio-service {
    margin-bottom: 15px;
  }
}
@media (max-width: 430px) {
  .studio-service {
    padding: 5px 10px;
  }
  .studio-service:first-child {
    padding-left: 10px;
  }
  .studio-service__title {
    line-height: 32px;
  }
  .studio-service__descr {
    line-height: 20px;
    font-size: 0.75rem;
  }
}

@media (max-width: 1035px) {
  .studio__background-text {
    left: 55%;
  }
}
@media (max-width: 950px) {
  .studio__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
  .studio__background-text {
    font-size: 14rem;
  }
}
@media (max-width: 767.98px) {
  .studio__container {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .studio__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
    padding: 0 15px;
  }
  .studio__title {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54px;
            flex: 0 0 54px;
  }
  .studio__descr {
    margin-right: 0;
  }
  .studio__background-text {
    font-size: 10rem;
    top: 15%;
    left: -3%;
    -webkit-transform: none;
            transform: none;
  }
}
@media (max-width: 576px) {
  .studio__content {
    margin-bottom: 50px;
  }
  .studio__background-text {
    top: 25%;
  }
}
@media (max-width: 430px) {
  .studio__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .studio__content {
    margin-bottom: 40px;
    padding: 0 10px;
  }
  .studio__descr {
    line-height: 20px;
  }
  .studio__background-text {
    font-size: 9rem;
    top: 30%;
  }
}
.credo {
  background: silver;
  background-image: linear-gradient(85deg, rgba(48, 50, 99, 0.67) 0%, rgba(48, 50, 99, 0.67) 100%), url(../img/credo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.credo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 566px;
  max-width: 1043px;
  padding-top: 125px;
}
.credo__title {
  color: #fff;
  margin-bottom: 55px;
  max-height: 106px;
  overflow: hidden;
}
.credo__descr {
  text-align: center;
  color: white;
  line-height: 36px;
  max-height: 180px;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .credo__container {
    padding-top: 60px;
    padding-bottom: 80px;
    height: initial;
  }
  .credo__title {
    margin-bottom: 20px;
  }
  .credo__descr {
    max-height: 240px;
  }
}
@media (max-width: 576px) {
  .credo__title {
    max-height: 100px;
  }
  .credo__descr {
    line-height: 30px;
  }
}
@media (max-width: 430px) {
  .credo__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .credo__title {
    margin-bottom: 15px;
    max-height: 140px;
  }
  .credo__descr {
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */