:root {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	color: #000;
	@media (max-width: $bp1) {
		font-size: 20px;
	}
	@media (max-width: $bp3) {
		font-size: 16px;
		.animate {
			animation: none !important;
		}
	}
}

body {
	background-color: #fff;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
}

.pages {
	flex: 1 1 auto;
}

.title {
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 2px;
	line-height: 1.25;
	text-align: left;
	&_h1 {
		text-align: center;
		color: white;
		line-height: 1.5;
	}
	&_h2 {
		font-size: 1.5rem;
	}
	&_h3 {
		font-size: 1.25rem;
	}
	@media (max-width: $bp3) {
		letter-spacing: 1px;
	}
	@media (max-width: $bp5) {
		font-size: 1.5rem;
	}
}

.background-text {
	position: absolute;
	top: -37%;
	left: -9%;
	z-index: 1;
	font-family: tahoma;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 3rem;
	white-space: nowrap;
	text-transform: uppercase;
	line-height: 1;
	color: #00000033;
	@media (max-width: $bp1) {
		font-size: 2.7rem;
		top: -29%;
	}
	@media (max-width: $bp3) {
		left: -2%;
		top: -17%;
		font-size: 2.3rem;
	}
	@media (max-width: $bp5) {
		letter-spacing: 3px;
	}
}

.price-button {
	@include flex(space-between);
	width: 100%;
	white-space: nowrap;
	&__button-price {
		display: inline-block;
		text-align: center;
		font-size: 0.74rem;
		line-height: 1;
		color: #fff;
		border: 2px solid #fff;
		padding: 8px 12px;
		transition: border-color 0.2s, transform 0.4s;
		&:hover {
			transform: scale(1.05);
		}
		@media (max-width: $bp5) {
			min-width: 100px;
		}
	}
	&__view {
		@include flex;
		height: 40px;
		width: 40px;
		border-radius: 10px;
	}
	&__icon {
		transition: color 0.2s, transform 0.3s;
		color: #fff;
		width: 22px;
		height: 23px;
		&:hover {
			transform: scale(1.2);
		}
	}
}

.content {
	margin-left: 75px;
	&__body-title {
		position: relative;
		z-index: 2;
	}
	&__title {
		margin-bottom: 15px;
		position: relative;
		z-index: 2;
	}
	&__descr {
		line-height: 2;
		max-width: 577px;
	}
	@media (max-width: $bp3) {
		margin-left: 0;
		&__title {
			margin-bottom: 0;
		}
		&__descr {
			font-size: 0.85rem;
			max-width: initial;
		}
	}
}

.button {
	display: inline-block;
	text-align: center;
	line-height: 1;
	font-weight: bold;
	white-space: nowrap;
	font-size: 1rem;
	border-radius: 15px;
	transition: background-color 0.2s;
}
