:root {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
}

ul,
ol,
li {
	list-style: none;
}

span,
img {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
}

button,
input {
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
	background-color: inherit;
}

.container {
	max-width: 1245px;
	margin: 0 auto;
	padding: 0 5px;
}

.title {
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	&_h1 {
		color: white;
		line-height: 72px;
	}
	&_h2 {
		line-height: 58px;
	}
}

.background-text {
	font-family: tahoma;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(193,193,193,0.2);
}

.price-block {
	display: none;
	width: 100%;
	margin-top: 15px;
	white-space: nowrap;
	&__button-price {
		@include flex;
		border: 2px solid #fff;
		height: 35px;
		min-width: 130px;
		max-width: 140px;
		font-size: .75rem;
		overflow: hidden
	}
	&__view {
		@include flex;
		height: 40px;
		width: 40px;
		&-img {
			width: 22px;
		}
	}
}

@import "./media";