@media (max-width: $bp1) {
	:root {
		font-size: 20px;
	}
}

@media (max-width: $bp3) {
	:root {
		font-size: 16px;
	}
	.title_h1 {
		line-height: 55px;
	}
	.animate {
		animation: none !important;
	}
}

@media (max-width: $bp4) {
	.title_h1 {
		line-height: 58px;
	}
	.title_h2 {
		line-height: 48px;
	}
}

@media (max-width: $bp5) {
	.title {
		font-size: 1.7rem;
		&_h1 {
			line-height: 35px;
		}
		&_h2 {
			line-height: 35px;
		}
	}
}
