// MEDIA
$bpF: 1200px;
$bp0: 1035px;
$bp1: 950px;
$bp2: 860px;
$bp3: 767.98px;
$bp4: 576px;
$bp5: 430px;

// section "developments"
$serviceBgOverlapping: linear-gradient(85deg, rgba(0, 0, 0, 0.67) 0%, rgba(0, 0, 0, 0.67) 100%);