.footer {
	background-color: $addColorElements;
	color: $addColorText;
	&__container {
		@include flex(space-between);
		min-height: 100px;
	}
	&__logo {
		@include flex;
		column-gap: 10px;
		& .logo__img {
			background-color: #fff;
			border-radius: 50%;
		}
	}
	&__start {
		@include flex;
		width: 60px;
		height: 60px;
		border-radius: 10px;
		cursor: pointer;
		transition: background-color 0.2s ease 0s;
		&:hover {
			background-color: #30326345;
			& .footer__icon {
				transform: scale(1.1) rotate(270deg);
			}
		}
	}
	&__icon {
		color: #fff;
		width: 40px;
		height: 40px;
		transition: transform 0.4s ease 0s;
		transform: rotate(270deg);
	}
}

@import "./footer-media";