.footer {
	background-color: $addColorElements;
	&__container {
		@include flex;
		min-height: 110px;
	}
	&__start {
		@include flex;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.4s;
		&:hover {
			background-color: #30326345;
			& .footer__icon {
				transform: scale(1.2) rotate(270deg);
			}
		}
	}
	&__icon {
		color: #fff;
		width: 30px;
		height: 30px;
		transform: rotate(270deg);
	}
}

@import "./footer-media";