@media (max-width: $bp2) {
	.credo {
		padding-top: $bp2PaddingTop;
		padding-bottom: $bp2PaddingBottom;
		&__title {
			margin-bottom: 20px;
		}
		&__descr {
			padding-left: 40px;
			padding-right: 40px;
			line-height: 1.5;
		}
	}
}

@media (max-width: $bp4) {
	.credo {
		padding-top: $bp4PaddingTop;
		padding-bottom: $bp4PaddingBottom;
	}
}

@media (max-width: $bp5) {
	.credo {
		padding-top: $bp5PaddingTop;
		padding-bottom: $bp5PaddingBottom;
		&__descr {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
