.credo {
	background: silver;
	background-image: linear-gradient(85deg, rgba(48, 50, 99, 0.67) 0%, rgba(48, 50, 99, 0.67) 100%),
		url(../img/credo-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	&__container {
		@include flex(flex-start, center, column);
		height: 566px;
		max-width: 1043px;
		padding-top: 125px;
	}
	&__title {
		color: #fff;
		margin-bottom: 55px;
		max-height: 106px;
		overflow: hidden;
	}
	&__descr {
		text-align: center;
		color: white;
		line-height: 36px;
		max-height: 180px;
		overflow: hidden;
	}
}

@import "./credo-media";
