@media (max-width: $bp3) {
	.credo__container {
		padding-top: 60px;
		padding-bottom: 80px;
		height: initial;
	}
	.credo__title {
		margin-bottom: 20px;
	}
	.credo__descr {
		max-height: 240px;
	}
}

@media (max-width: $bp4) {
	.credo__title {
		max-height: 100px;
	}
	.credo__descr {
		line-height: 30px;
	}
}

@media (max-width: $bp5) {
	.credo__container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.credo__title {
		margin-bottom: 15px;
		max-height: 140px;
	}
	.credo__descr {
		line-height: 20px;
	}
}
