.developments {
	padding-top: calc($generalPaddingTop + 80px);
	padding-bottom: $generalPaddingBottom;
	&__container {
		@include flex(center, center, column);
		position: relative;
	}
	&__promotion {
		@include flex(flex-start, flex-start);
		width: 100%;
		column-gap: 15%;
	}
	&__partners {
		@include flex(center, center, column);
		gap: 40px;
		margin-right: 50px;
	}
	&__partner {
		flex: 0 1 213px;
	}
}

@import "./developments-services";

@import "./developments-media";
