@media (max-width: $bp2) {
	.developments {
		padding-top: 130px;
		padding-bottom: $bp2PaddingBottom;
		&__promotion {
			flex-direction: column;
			align-items: flex-start;
		}
		&__partners {
			margin-right: 0;
			margin-top: 30px;
			flex-direction: row;
			width: 100%;
			gap: 10%;
		}
		&__partner {
			flex: 0 1 170px;
		}
	}
}

@media (max-width: $bp4) {
	.developments {
		padding-top: 105px;
		padding-bottom: $bp4PaddingBottom;
	}
}

@media (max-width: $bp5) {
	.developments {
		padding-bottom: $bp5PaddingBottom;
		&__partners {
			margin-top: 20px;
		}
	}
}