@media (max-width: $bp1) {
	.developments {
		padding-top: 110px;
		padding-bottom: 80px;
		&__promotion {
			flex-direction: column;
			align-items: flex-start;
		}
		&__content {
			margin-left: 0;
		}
		&__partners {
			margin-top: 30px;
			flex-direction: row;
			width: 100%;
			gap: 10%;
			flex: 0 0 auto;
		}
		&__img {
			max-width: 150px;
		}
	}
}

@media (max-width: $bp4) {
	.developments {
		padding-top: 90px;
		padding-bottom: 50px;
	}
}

@media (max-width: $bp5) {
	.developments__partners {
		gap: 20px;
		margin-top: 20px;
	}
	.developments__img {
		max-width: 120px;
	}
}
