.developments {
	padding-top: 208px;
	padding-bottom: 117px;
	&__container {
		@include flex(center, center, column);
		position: relative;
	}
	&__promotion {
		@include flex(flex-start);
		width: 100%;
		column-gap: 15%;
	}
	&__partners {
		@include flex(center, center, column);
		gap: 40px;
		flex: 0 1 200px;
	}
	&__img {
		width: 100%;
	}
}

@import "./developments-services";

@import "./developments-media";
