.developments-services {
	margin-bottom: 150px;
	color: $addColorText;

	@media (max-width: $bp2) {
		margin-bottom: 85px;
	}

	@media (max-width: $bp4) {
		margin-bottom: 65px;
	}

	@media (max-width: $bp5) {
		margin-bottom: 55px;
	}
}
.developments-title {
	width: 666px;
	height: 500px;
	padding-top: 135px;
	padding-left: 130px;
	background-color: $addColorElements;
	position: absolute;
	top: -235px;
	left: -116px;
	z-index: 1;
	overflow: hidden;
	&__title {
		max-height: 60px;
		overflow: hidden;
	}
	&__icon {
		color: #ffffff3e;
		&-wrap {
			position: absolute;
			animation: rotation 15s linear infinite;
			&:nth-child(1) {
				width: 176px;
				height: 176px;
				top: 1px;
				left: -95px;
			}
			&:nth-child(2) {
				width: 145px;
				height: 145px;
				top: 97px;
				left: 52px;
				animation-direction: reverse;
			}
			&:nth-child(3) {
				width: 118px;
				height: 118px;
				top: 184px;
				left: -36px;
			}
			&:nth-child(4) {
				width: 215px;
				height: 215px;
				top: -39px;
				right: -73px;
				animation-direction: reverse;
			}
		}
	}

	@media (max-width: $bp0) {
		width: 600px;
		height: 460px;
	}

	@media (max-width: $bp2) {
		top: -145px;
		width: 500px;
		height: 300px;
		padding-top: 75px;
		.developments-title__icon-wrap {
			&:nth-child(2) {
				width: 100px;
				height: 100px;
				top: 55px;
				left: 75px;
			}
			&:nth-child(4) {
				width: 170px;
				height: 170px;
				right: -50px;
				animation-direction: reverse;
			}
		}
	}

	@media (max-width: $bp4) {
		padding-top: 60px;
		top: -118px;
		height: 270px;
		.developments-title__icon-wrap {
			&:nth-child(2) {
				width: 90px;
				height: 90px;
				top: 38px;
				left: 79px;
			}
			&:nth-child(4) {
				width: 150px;
				height: 150px;
				right: -45px;
			}
		}
	}

	@media (max-width: $bp5) {
		width: 450px;
		height: 240px;
	}

	@media (max-width: $bp6) {
		width: 360px;
		.developments-title__icon-wrap {
			&:nth-child(2) {
				width: 80px;
				height: 80px;
				top: 43px;
				left: 86px;
			}
			&:nth-child(4) {
				width: 130px;
				height: 130px;
				right: -39px;
			}
		}
	}
}
.developments-prices {
	@include flex;
	flex-wrap: wrap;
	gap: 15px;
	position: relative;
	z-index: 2;
}
.developments-price {
	@include flex(space-between, flex-start, column);
	background: silver;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 366px;
	height: 315px;
	padding: 60px 35px 35px 30px;
	cursor: pointer;
	&:nth-child(1) {
		background-image: $serviceBgOverlay, url(../img/developments/services-bg1.webp);
		&:hover {
			& .price-button__button-price {
				border-color: #00b9e7;
			}
			& .price-button__icon {
				color: #00b9e7;
			}
		}
	}
	&:nth-child(2) {
		background-image: $serviceBgOverlay, url(../img/developments/services-bg2.webp);
		&:hover {
			& .price-button__button-price {
				border-color: #ffcb00;
			}
			& .price-button__icon {
				color: #ffcb00;
			}
		}
	}
	&:nth-child(3) {
		background-image: $serviceBgOverlay, url(../img/developments/services-bg3.webp);
		&:hover {
			& .price-button__button-price {
				border-color: #66bf0d;
			}
			& .price-button__icon {
				color: #66bf0d;
			}
		}
	}
	&__title {
		width: 100%;
		text-align: left;
		flex: 0 1 50%;
		border-bottom: 1px solid #fff;
		line-height: 1;
		max-height: 110px;
		overflow: hidden;
	}
	& .price-button {
		&__button-price {
			font-size: 1rem;
			border: 2.5px solid #fff;
			padding: 14px 25px;
		}
		&__view {
			justify-content: flex-end;
		}
		&__icon {
			width: 33px;
			height: 33px;
		}
	}

	@media (max-width: $bp0) {
		padding: 60px 25px 25px 20px;
		width: 310px;
		height: 260px;
		&__title {
			font-size: 1.5rem;
			flex: 0 1 43%;
		}
		& .price-button__button-price {
			font-size: 0.9rem;
			border: 2px solid #fff;
			padding: 10px 12px;
		}
	}

	@media (max-width: $bp1) {
		padding-top: 50px;
		width: 280px;
		height: 250px;
		&__title {
			flex: 0 1 47%;
		}
		& .price-button {
			&__button-price {
				font-size: 0.8rem;
				padding: 8px 10px;
			}
			&__icon {
				width: 28px;
				height: 28px;
			}
		}
	}

	@media (max-width: $bp2) {
		padding: 40px 20px 20px 20px;
		width: 250px;
		height: 200px;
		&__title {
			flex: 0 1 46%;
		}
	}

	@media (max-width: $bp3) {
		padding-top: 30px;
		width: 220px;
		height: 190px;
		& .price-button__button-price {
			font-size: 0.8rem;
			padding: 10px 7px;
		}
	}

	@media (max-width: $bp4) {
		height: 180px;
		flex: 0 1 45%;
		&:first-child {
			flex: 0 1 92%;
		}
		&__title {
			font-size: 1.5rem;
			flex: 0 1 43%;
		}
		& .price-button__button-price {
			font-size: 1rem;
			padding: 10px 12px;
		}
	}

	@media (max-width: $bp5) {
		padding: 20px 15px 15px 15px;
		flex: 0 1 92%;
		height: 150px;
		&__title {
			flex: 0 1 46%;
		}
	}

	@media (max-width: $bp6) {
		height: 140px;
		&__title {
			font-size: 1.4rem;
		}
		& .price-button__button-price {
			font-size: 0.9rem;
			padding: 10px 12px;
		}
	}
}
