.header {
	background: #fff;
	border-bottom: 2px solid #adadad;
}
.header-content {
	@include flex(space-between);
}
.logo {
	@include flex;
	height: 70px;
	width: 70px;
	margin: 15px 20px 15px 0;
	&__img {
		height: 60px;
	}
}
.menu-block {
	&__button {
		display: none;
	}
}
.menu {
	@include flex;
	flex-wrap: wrap;
	column-gap: 40px;
	font-size: 26px;
	line-height: 30px;
	&__item {
		white-space: nowrap;
		&-link {
			padding: 20px 0;
			transition: color .2s;
			&:hover {
				color: #f6ae48;
			}
		}
	}
}

@import "./header-media"