.header {
	position: sticky;
	top: 0;
	background: #fff;
	border-bottom: 2px solid #adadad;
}
.header-content {
	@include flex(space-between);
}
.logo {
	@include flex;
	height: 70px;
	width: 70px;
	&__img {
		height: 60px;
	}
}
.menu-block {
	&__button {
		display: none;
	}
}
.menu {
	@include flex;
	font-size: 26px;
	line-height: 30px;
	&__item {
		padding: 35px 18px;
		&-link {
			white-space: nowrap;
			transition: color .2s;
			&:hover {
				color: #f6ae48;
			}
		}
		&:first-child {
			color: #f6ae48;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}

@import "./header-media"