@media (max-width: $bp1) {
	.header-content {
		justify-content: flex-start;
	}
	.logo {
		margin: 5px;
		&__img {
			height: 50px;
		}
	}
	.menu-block {
		@include flex;
		order: -1;
		margin-right: 15px;
		&__button {
			@include flex(center, center, column);
			width: 50px;
			height: 50px;
			position: relative;
			&-item,
			&::after,
			&::before {
				content: "";
				width: 60%;
				height: 3px;
				border-radius: 10px;
				background: #000;
				position: absolute;
			}
			&::before {
				transform: translateY(-8px);
			}
			&::after {
				transform: translateY(8px);
			}
		}
	}
	.menu {
		display: none;
	}
}