@media (max-width: $bp2) {
	.header__container {
		min-height: 80px;
	}
	.menu__list {
		column-gap: 25px;
		font-size: 1.1rem;
		letter-spacing: 1px;
	}
}

@media (max-width: $bp4) {
	.header__container {
		min-height: 70px;
	}
	.menu {
		position: fixed;
		left: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 90px 15px 30px 15px;
		overflow: auto;
		transition: left 0.3s ease 0s;
		&::before {
			content: "";
			width: 100%;
			position: fixed;
			top: 0;
			left: -100%;
			height: 71px;
			background-color: #fff;
			z-index: 10;
			transition: left 0.3s ease 0s;
			border-bottom: 2px solid #adadad;
		}
		&__list {
			flex-direction: column;
			text-align: center;
			font-size: 2rem;
			letter-spacing: 1px;
		}
		&__link {
			padding: 20px 0;
		}
	}
	.menu-open {
		& .header .logo {
			position: fixed;
			top: 12px;
			left: 15px;
		}
		& .menu,
		& .menu::before {
			left: 0;
		}
		& .menu-button {
			position: fixed;
			top: 9px;
			right: 15px;
		}
		& .menu-button__item {
			width: 0;
		}
		& .menu-button::before {
			transform: rotate(-45deg);
		}
		& .menu-button::after {
			transform: rotate(45deg);
		}
	}
	.menu-button {
		@include flex(center, center, column);
		flex: 0 0 50px;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		position: relative;
		transition: background-color 0.2s ease 0s;
		&:hover {
			background-color: #30326345;
		}
		&__item,
		&::after,
		&::before {
			content: "";
			width: 60%;
			height: 2px;
			border-radius: 20px;
			background: #000;
			position: absolute;
			transition: transform 0.3s ease 0s;
		}
		&::before {
			transform: translateY(-8px);
		}
		&::after {
			transform: translateY(8px);
		}
	}
}
