.advantages {
	background: silver;
	background-image: $sectionsBgOverlay, url(../img/advantages-bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	color: $addColorText;
	padding-top: $generalPaddingTop;
	padding-bottom: $generalPaddingBottom;
	&__content {
		@include flex(flex-start, center, column);
	}
	&__title {
		margin-bottom: 35px;
	}
}
.advantages-items {
	@include flex(center, flex-start);
	column-gap: 70px;
	max-width: 1360px;
	padding: 0 15px;
	margin-bottom: 45px;
}
.advantages-item {
	@include flex(center, flex-start, column);
	flex-wrap: wrap;
	flex: 0 1 33.333%;
	&:nth-child(2) {
		.advantages-item__title-wrap {
			column-gap: 10px;
		}
	}
	&__title {
		&-wrap {
			@include flex;
			flex: 1 0 66px;
			column-gap: 15px;
		}
	}
	&__icon {
		color: $colorIcons;
		&-wrap {
			width: 60px;
			height: 60px;
			flex: 0 0 60px;
		}
	}
	&__descr {
		font-size: 0.75rem;
		line-height: 1.6;
	}
}

@import "./advantages-media";
