@media (max-width: $bp1) {
	.studio__title {
		flex: 0 0 160px;
	}
	.studio .background-text {
		font-size: 14rem;
	}
}

@media (max-width: $bp3) {
	.studio {
		padding-top: 60px;
		padding-bottom: 80px;
		&__content {
			align-items: flex-start;
			flex-direction: column;
			margin-bottom: 60px;
		}
		&__title {
			margin-right: 0;
			flex: 0 0 54px;
		}
		&__descr {
			margin-right: 0;
		}
		& .background-text {
			left: -3%;
			font-size: 10rem;
		}
	}
}

@media (max-width: $bp4) {
	.studio__content {
		margin-bottom: 50px;
	}
}

@media (max-width: $bp5) {
	.studio {
		padding-top: 30px;
		padding-bottom: 30px;
		&__content {
			margin-bottom: 40px;
			padding: 0 10px;
		}
		&__title {
			flex: 0 0 50px;
		}
		& .background-text {
			font-size: 9rem;
		}
	}
}
