@media (max-width: $bp2) {
	.studio {
		padding-top: $bp2PaddingTop;
		padding-bottom: $bp2PaddingBottom;
		&__content {
			align-items: flex-start;
			flex-direction: column;
			margin-bottom: 75px;
		}
		&__title {
			margin-bottom: 3px;
			margin-right: 0;
		}
		&__descr {
			font-size: .9rem;
			margin-right: 0;
			max-width: initial;
			line-height: 1.5;
		}
		& .background-text {
			left: -2%;
			top: -4%;
			font-size: 8rem;
			letter-spacing: 8px;
		}
	}
}

@media (max-width: $bp4) {
	.studio {
		padding-top: $bp4PaddingTop;
		padding-bottom: $bp4PaddingBottom;
		&__content {
			margin-bottom: 55px;
		}
	}
}

@media (max-width: $bp5) {
	.studio {
		padding-top: $bp5PaddingTop;
		padding-bottom: $bp5PaddingBottom;
		&__content {
			margin-bottom: 45px;
		}
	}
}