@media (max-width: $bp0) {
	.studio__background-text {
		left: 55%;
	}
}

@media (max-width: $bp1) {
	.studio__title {
		flex: 0 0 160px;
	}
	.studio__background-text {
		font-size: 14rem;
	}
}

@media (max-width: $bp3) {
	.studio__container {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.studio__content {
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 60px;
		padding: 0 15px;
	}
	.studio__title {
		margin-right: 0;
		flex: 0 0 54px;
	}
	.studio__descr {
		margin-right: 0;
	}
	.studio__background-text {
		font-size: 10rem;
		top: 15%;
		left: -3%;
		transform: none;
	}
}

@media (max-width: $bp4) {
	.studio__content {
		margin-bottom: 50px;
	}
	.studio__background-text {
		top: 25%;
	}
}

@media (max-width: $bp5) {
	.studio__container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.studio__content {
		margin-bottom: 40px;
		padding: 0 10px;
	}
	.studio__descr {
		line-height: 20px;
	}
	.studio__background-text {
		font-size: 9rem;
		top: 30%;
	}
}