.studio-services {
	@include flex(center, flex-start);
	column-gap: 33px;
	width: 100%;

	@media (max-width: $bp2) {
		align-items: center;
		flex-direction: column;
	}
}

.studio-service {
	@include flex(flex-start, flex-start, column);
	position: relative;
	flex: 0 1 33.333%;
	padding: 15px 25px;
	transition: background-color $transitionHoverStudio;
	cursor: pointer;
	&:hover {
		background-color: $addColorElements;
		color: $colorHoverStudio;
		&:first-child::before {
			opacity: 1;
		}
		& .studio-service__icon {
			color: $colorHoverStudio;
		}
		& .price-button {
			opacity: 1;
			transform: translateX(0);
		}
	}
	&:first-child {
		padding-left: 0;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -25px;
			opacity: 0;
			width: 25px;
			height: 100%;
			transition: opacity $transitionHoverStudio;
			background-color: $addColorElements;
		}
	}
	& .price-button {
		transform: translateX(-500%);
		opacity: 0;
	}
	&__icon {
		color: $colorIcons;
		width: 100%;
		height: 100%;
		&-wrap {
			margin-bottom: 12px;
			height: 50px;
			width: 30px;
			&_size {
				margin-bottom: 18px;
				height: 44px;
				width: 54px;
			}
		}
	}
	&__title {
		font-size: 0.85rem;
		margin-bottom: 10px;
		font-weight: bold;
	}
	&__descr {
		margin-bottom: 15px;
		font-size: 0.6rem;
		line-height: 1.7;
		flex: 1 1 auto;
	}

	@media (max-width: $bp2) {
		@include flex(flex-start);
		flex-wrap: wrap;
		padding: 10px 0px;
		&:hover {
			&:nth-child(-n + 3) {
				&::before {
					opacity: 1;
				}
				&::after {
					opacity: 1;
				}
			}
		}
		&:nth-child(-n + 3) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -15px;
				opacity: 0;
				width: 15px;
				height: 100%;
				transition: opacity $transitionHoverStudio;
				background-color: $addColorElements;
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: -15px;
				opacity: 0;
				width: 15px;
				height: 100%;
				transition: opacity $transitionHoverStudio;
				background-color: $addColorElements;
			}
		}
		&__icon {
			&-wrap {
				margin-right: 20px;
				margin-bottom: 0;
				max-height: 44px;
				max-width: 26px;
				&_size {
					margin-bottom: 0;
					max-width: 46px;
				}
			}
		}
		&__title {
			margin-bottom: 0;
			font-size: 0.95rem;
		}
		&__descr {
			margin-top: 5px;
			margin-bottom: 0;
			line-height: 1.5;
			font-size: .7rem;
		}
	}
}
