.studio-services {
	@include flex(center, flex-start);
	column-gap: 33px;
	width: 100%;

	@media (max-width: $bp3) {
		align-items: center;
		flex-direction: column;
	}
}

.studio-service {
	@include flex(center, flex-start, column);
	padding: 15px 25px;
	transition: background-color 0.5s;
	cursor: pointer;
	&:hover {
		background-color: #f6ae48;
		color: #fff;
		& .studio-service__icon {
			color: #fff;
		}
		& .price-button {
			display: flex;
			margin-top: 15px;
		}
	}
	&__icon {
		color: #00b9e7;
		margin-bottom: 12px;
		max-height: 50px;
		max-width: 30px;
		&_size {
			margin-bottom: 18px;
			max-height: 44px;
			max-width: 54px;
		}
	}
	&__title {
		font-size: .85rem;
		margin-bottom: 10px;
		font-weight: bold;
	}
	&__descr {
		line-height: 24px;
		font-size: .6rem;
	}

	@media (max-width: $bp2) {
		&__descr {
			line-height: 20px;
		}
	}

	@media (max-width: $bp3) {
		@include flex(flex-start);
		flex-wrap: wrap;
		margin-bottom: 30px;
		padding: 10px 15px;
		&__icon {
			margin-right: 20px;
			margin-bottom: 0;
			max-height: 44px;
			max-width: 26px;
			&_size {
				margin-bottom: 0;
				max-width: 46px;
			}
		}
		&__title {
			margin-bottom: 0;
		}
	}

	@media (max-width: $bp4) {
		margin-bottom: 15px;
	}

	@media (max-width: $bp5) {
		&__title {
			line-height: 32px;
		}
		&__descr {
			line-height: 20px;
			font-size: .75rem;
		}
	}
}
