.studio-services {
	@include flex(center, flex-start);
	column-gap: 15px;
	width: 100%;

	@media (max-width: $bp2) {
		align-items: center;
		flex-direction: column;
		column-gap: initial;
	}
}

.studio-service {
	@include flex(flex-start, flex-start, column);
	position: relative;
	flex: 0 1 33.333%;
	padding: 15px 25px;
	transition: background-color $transitionHoverStudio;
	cursor: pointer;
	&:hover {
		background-color: $addColorElements;
		color: $colorHoverStudio;
		&:first-child::before,
		&:last-child::after {
			opacity: 1;
		}
		& .studio-service__icon {
			color: $colorHoverStudio;
		}
		& .price-button {
			transform: translateX(0);
		}
	}
	&:first-child {
		padding-left: 0;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -25px;
			opacity: 0;
			width: 25px;
			height: 100%;
			transition: opacity $transitionHoverStudio;
			background-color: $addColorElements;
		}
	}
	&:last-child {
		padding-right: 0;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: -25px;
			opacity: 0;
			width: 25px;
			height: 100%;
			transition: opacity $transitionHoverStudio;
			background-color: $addColorElements;
		}
	}
	& .price-button {
		transform: translateX(-2000%);
	}
	&__icon {
		color: $colorIcons;
		&-wrap {
			margin-bottom: 10px;
			height: 50px;
			width: 30px;
			flex: 0 0 auto;
			&_size {
				margin-bottom: 15px;
				height: 45px;
				width: 55px;
			}
		}
	}
	&__title {
		font-size: 0.85rem;
		margin-bottom: 10px;
		font-weight: bold;
		max-height: 21px;
		overflow: hidden;
		&-wrap {
			@include flex(flex-start, flex-start, column);
		}
	}
	&__descr {
		margin-bottom: 15px;
		font-size: 0.65rem;
		line-height: 1.7;
		max-height: 345px;
		overflow: hidden;
	}

	@media (max-width: $bp2) {
		@include flex(flex-start);
		flex-wrap: wrap;
		padding: 10px 0px;
		&:hover {
			&:nth-child(-n + 3) {
				&::before {
					opacity: 1;
				}
				&::after {
					opacity: 1;
				}
			}
		}
		&:last-child {
			padding-top: 5px;
		}
		&:nth-child(-n + 3) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -15px;
				opacity: 0;
				width: 15px;
				height: 100%;
				transition: opacity $transitionHoverStudio;
				background-color: $addColorElements;
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: -15px;
				opacity: 0;
				width: 15px;
				height: 100%;
				transition: opacity $transitionHoverStudio;
				background-color: $addColorElements;
			}
		}
		&__icon {
			&-wrap {
				margin-right: 10px;
				margin-bottom: 5px;
				height: 47px;
				width: 28px;
				&_size {
					margin-bottom: 0;
					width: 45px;
				}
			}
		}
		&__title {
			margin-bottom: 0;
			font-size: 1rem;
			&-wrap {
				flex-direction: row;
				align-items: center;
			}
		}
		&__descr {
			margin-bottom: 5px;
			line-height: 1.5;
			font-size: 0.8rem;
			max-height: 154px;
		}
	}

	@media (max-width: $bp4) {
		&__icon {
			&-wrap {
				height: 44px;
				width: 26px;
				&_size {
					width: 43px;
				}
			}
		}
	}
}
