.studio {
	padding-top: 165px;
	padding-bottom: 290px;
	&__container {
		@include flex(center, center, column);
	}
	&__content {
		@include flex(space-between);
		width: 100%;
		margin-bottom: 205px;
	}
	&__title {
		margin-right: 100px;
	}
	&__body-descr {
		position: relative;
		z-index: 2;
	}
	&__descr {
		margin-right: 70px;
		font-size: .85rem;
		line-height: 28px;
		max-width: 760px;
	}
	& .background-text {
		@include flex(flex-start);
		width: 100%;
		height: 100%;
		top: -3%;
		left: -12%;
		color: #c1c1c133;
		font-size: 16rem;
		letter-spacing: 17px;
		line-height: 310px;
	}
}

@import "./studio-services";

@import "./studio-media";