.achivments {
	@include flex;
	flex-wrap: wrap;
	gap: 55px;
	width: 100%;
	color: $addColorText;

	@media (max-width: $bp4) {
		gap: 30px;
	}

	@media (max-width: $bp5) {
		gap: 20px;
	}
}
.achivment {
	@include flex(center, center, column);
	padding: 20px;
	width: 255px;
	height: 160px;
	border-left: 2px solid $colorAchivment;
	border-right: 2px solid $colorAchivment;
	border-bottom: 2px solid $colorAchivment;
	position: relative;
	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 2px;
		background: $colorAchivment;
		width: calc((100% - 45px) / 2);
		top: 0;
	}
	&::before {
		left: 0;
	}
	&::after {
		right: 0;
	}
	&:nth-child(2) {
		.achivment__icon-wrap {
			transform: translate(-45%, -40%);
		}
	}
	&__icon {
		color: $colorAchivment;
		&-wrap {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -40%);
			width: 35px;
			height: 35px;
		}
	}
	&__value {
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 8px;
		letter-spacing: 2px;
	}
	&__descr {
		font-size: 0.75rem;
		text-align: center;
	}

	@media (max-width: $bp2) {
		width: 200px;
		height: 140px;
		&::before,
		&::after {
			width: calc((100% - 43px) / 2);
		}
		&__icon-wrap {
			width: 32px;
			height: 32px;
		}
		&__value {
			margin-bottom: 5px;
		}
	}

	@media (max-width: $bp4) {
		flex: 0 1 43%;
		height: 120px;
		&::before,
		&::after {
			width: calc((100% - 40px) / 2);
		}
		&:first-child {
			flex: 0 1 90%;
		}
		&__icon-wrap {
			width: 30px;
			height: 30px;
		}
		&__value {
			font-size: 2.5rem;
		}
		&__descr {
			font-size: 1rem;
		}
	}

	@media (max-width: $bp5) {
		flex: 0 1 90%;
		border-top: 2px solid $colorAchivment;
		border-left: none;
		height: 110px;
		&::before,
		&::after {
			height: calc((100% - 35px) / 2);
			width: 2px;
			top: initial;
		}
		&::before {
			top: 0;
		}
		&::after {
			left: 0;
			bottom: 0;
		}
		&:nth-child(2) {
			.achivment__icon-wrap {
				transform: translate(-40%, -50%);
			}
		}
		&__icon-wrap {
			transform: translate(-45%, -50%);
			width: 28px;
			height: 28px;
			top: 50%;
			left: 0;
		}
	}
}
