.hero {
	background: silver;
	background-image: $sectionsBgOverlay, url(../img/hero-bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	padding-top: 190px;
	padding-bottom: 120px;
	color: $addColorText;
	&__container {
		@include flex(center, center, column);
	}
	&__content {
		@include flex(center, center, column);
		margin-bottom: 60px;
		max-width: 1100px;
	}
	&__title {
		margin-bottom: 25px;
	}
	&__descr {
		text-align: center;
		line-height: 1.5;
		max-width: 835px;
	}
}

@import "./achivments";

@import "./hero-media";
