@media (max-width: $bp3) {
	.hero {
		padding-top: 130px;
		padding-bottom: 100px;
		&__title {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: $bp4) {
	.hero {
		padding-top: 50px;
		padding-bottom: 50px;
		&__content {
			margin-bottom: 30px;
		}
		&__title {
			max-height: 232px;
		}
		&__descr {
			max-height: 180px;
		}
	}
}

@media (max-width: $bp5) {
	.hero {
		padding-top: 50px;
		padding-bottom: 50px;
		&__title {
			margin-bottom: 15px;
			max-height: 140px;
		}
		&__descr {
			line-height: 20px;
			max-height: 120px;
		}
	}
}
