.support {
	padding-top: $generalPaddingTop;
	padding-bottom: $generalPaddingBottom;
	&__container {
		@include flex(flex-start, center);
		column-gap: 5%;
	}
	&__img {
		width: 100%;
		&-wrap {
			flex: 0 1 563px;
		}
	}
}

@import "./support-media";