.support {
	padding-top: 150px;
	padding-bottom: 230px;
	&__container {
		@include flex(flex-start, center);
		column-gap: 4.5%;
	}
	&__img {
		width: 100%;
		&-wrap {
			flex: 0 1 563px;
		}
	}
}

@import "./support-media";