.adaptate {
	padding-top: 210px;
	padding-bottom: 160px;
	&__container {
		@include flex(flex-start, flex-start);
	}
	&__content {
		flex: 0 1 50%;
		position: relative;
	}
}
.adaptate-devices {
	position: absolute;
	top: -13%;
	right: -110%;
	width: 500px;
}
.adaptate-device {
	position: absolute;
	&_iphone {
		top: 203px;
		right: 480px;
		.adaptate-device__img-wrap {
			&:first-child {
				top: 0px;
				right: 0px;
				width: 116px;
				height: 229px;
			}
			&:last-child {
				top: 27px;
				right: 7px;
				width: 101px;
				height: 174px;
			}
		}
	}
	&_ipad {
		top: 86px;
		right: 190px;
		.adaptate-device__img-wrap {
			&:first-child {
				top: 0px;
				right: 0px;
				width: 245px;
				height: 346px;
			}
			&:last-child {
				top: 32px;
				right: 16px;
				width: 211px;
				height: 283px;
			}
		}
	}
	&_macbook {
		top: 0px;
		right: -580px;
		.adaptate-device__img-wrap {
			&:first-child {
				top: 0px;
				right: 0px;
				width: 748px;
				height: 432px;
			}
			&:last-child {
				top: 31px;
				right: 88px;
				width: 567px;
				height: 356px;
			}
		}
	}
	&__img {
		&-wrap {
			position: absolute;
		}
	}
}

@import "./adaptate-media";
