.adaptate {
	padding-top: 210px;
	padding-bottom: 160px;
	position: relative;
	&__container {
		@include flex(flex-start, flex-start);
	}
	&__devices {
		position: absolute;
		top: 26.5%;
		right: 40%;
	}
	&__device {
		position: absolute;
		&_iphone {
			top: 176px;
			left: -48px;
			.adaptate__img {
				&:last-child {
					width: 101px;
					height: 174px;
					top: 28px;
					left: 8px;
				}
			}
		}
		&_ipad {
			top: 59px;
			left: 123px;
			.adaptate__img {
				&:last-child {
					width: 211px;
					height: 283px;
					top: 31px;
					left: 18px;
				}
			}
		}
		&_macbook {
			top: -27px;
			right: -391px;
			.adaptate__img {
				&:last-child {
					width: 567px;
					height: 356px;
					top: 28px;
					left: 91px;
				}
			}
		}
	}
	&__img {
		position: absolute;
	}
}

@import "./adaptate-media";
