@media (max-width: $bp0) {
	.adaptate-devices {
		top: 0%;
		right: -103%;
	}
	.adaptate-device {
		&_iphone {
			right: 355px;
			.adaptate-device__img-wrap {
				&:first-child {
					width: 86px;
					height: 179px;
				}
				&:last-child {
					width: 71px;
					height: 124px;
				}
			}
		}
		&_ipad {
			right: 128px;
			.adaptate-device__img-wrap {
				&:first-child {
					width: 195px;
					height: 296px;
				}
				&:last-child {
					width: 161px;
					height: 233px;
				}
			}
		}
		&_macbook {
			.adaptate-device__img-wrap {
				&:first-child {
					width: 698px;
					height: 382px;
				}
				&:last-child {
					width: 517px;
					height: 306px;
				}
			}
		}
	}
}

@media (max-width: $bp1) {
	.adaptate-devices {
		top: 10%;
	}
}

@media (max-width: $bp2) {
	.adaptate {
		padding-top: $bp2PaddingTop;
		padding-bottom: $bp2PaddingBottom;
		&__content {
			flex: 1 1 auto;
		}
	}
	.adaptate .content__descr {
		margin-bottom: 30px;
	}
	.adaptate-devices {
		position: relative;
		top: 0;
		left: 0;
		height: 382px;
		width: 100%;
	}
	.adaptate-device {
		&_iphone {
			right: initial;
			left: 86px;
		}
		&_ipad {
			right: initial;
			left: 320px;
		}
		&_macbook {
			right: initial;
			left: 1040px;
		}
	}
}

@media (max-width: $bp4) {
	.adaptate {
		padding-top: $bp4PaddingTop;
		padding-bottom: $bp4PaddingBottom;
	}
}

@media (max-width: $bp5) {
	.adaptate {
		padding-top: $bp5PaddingTop;
		padding-bottom: $bp5PaddingBottom;
		& .content__descr {
			margin-bottom: 20px;
		}
	}
	.adaptate-devices {
		height: 249px;
	}
	.adaptate-device {
		&_iphone {
			left: 62px;
			top: 138px;
			.adaptate-device__img-wrap {
				&:first-child {
					width: 61px;
					height: 112px;
				}
				&:last-child {
					top: 20px;
					right: 5px;
					width: 51px;
					height: 74px;
				}
			}
		}
		&_ipad {
			left: 181px;
			top: 72px;
			.adaptate-device__img-wrap {
				&:first-child {
					width: 107px;
					height: 178px;
				}
				&:last-child {
					top: 24px;
					right: 8px;
					width: 90px;
					height: 136px;
				}
			}
		}
		&_macbook {
			left: 707px;
			.adaptate-device__img-wrap {
				&:first-child {
					width: 519px;
					height: 249px;
				}
				&:last-child {
					top: 31px;
					right: 88px;
					width: 360px;
					height: 190px;
				}
			}
		}
	}
}
