.contacts {
	background: silver;
	background-image: $sectionsBgOverlay, url(../img/contacts-bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	color: $addColorText;
	padding-top: 120px;
	padding-bottom: 115px;
	&__container {
		@include flex(flex-start, flex-start);
		column-gap: 15%;
	}
	&__content {
		margin-left: 50px;
	}
	&__title {
		margin-bottom: 45px;
	}
	&__descr {
		max-width: 355px;
		font-size: 0.75rem;
		line-height: 1.5;
	}
}
.contacts-user {
	flex: 0 1 615px;
	&__body-info {
		@include flex(flex-end, flex-start);
		column-gap: 60px;
		margin-top: 15px;
	}
	&__info {
		font-size: 0.55rem;
		line-height: 1.7;
	}
	& .button {
		padding: 15px 28px;
		font-size: 0.6rem;
	}
}
.contacts-form {
	@include flex(center, stretch, column);
	max-width: 615px;
	border: 2.5px solid #fff;
	&__body-label {
		@include flex(space-between);
	}
	&__label {
		border: 2.5px solid #fff;
		font-size: 0.75rem;
		width: 100%;
		height: 50px;
		&_textarea {
			height: 165px;
		}
	}
	&__input {
		background-color: transparent;
		width: 100%;
		height: 100%;
		padding: 10px 20px;
		&:focus {
			outline: 2.5px solid $addColorElements;
		}
		&::placeholder {
			color: #fff;
		}
	}
}
