@media (max-width: $bp1) {
	.contacts__content {
		margin-left: 40px;
	}
}

@media (max-width: $bp2) {
	.contacts {
		padding-top: $bp2PaddingTop;
		padding-bottom: $bp2PaddingBottom;
		&__container {
			flex-direction: column;
			align-items: flex-start;
		}
		&__content {
			margin-left: 0;
		}
		&__title {
			margin-bottom: 10px;
		}
		&__descr {
			max-width: initial;
			font-size: 0.9rem;
			margin-bottom: 40px;
		}
	}
	.contacts-form {
		flex: 0 0 auto;
		&__label {
			font-size: 0.9rem;
		}
		&__send {
			column-gap: 7%;
		}
		&__info {
			font-size: 0.9rem;
		}
		& .button {
			font-size: 0.9rem;
		}
	}
}

@media (max-width: $bp4) {
	.contacts {
		padding-top: $bp4PaddingTop;
		padding-bottom: $bp4PaddingBottom;
	}
	.contacts-form__label {
		border: 4px solid #fff;
	}
}

@media (max-width: $bp5) {
	.contacts {
		padding-top: $bp5PaddingTop;
		padding-bottom: $bp5PaddingBottom;
		&__descr {
			margin-bottom: 20px;
		}
	}
	.contacts-form__label {
		&:nth-child(-n + 2) {
			width: 100%;
		}
		&:nth-child(2) {
			border-top: none;
			border-left: 4px solid #fff;
		}
		&:nth-child(4) {
			height: 130px;
		}
	}
	.contacts-form__send {
		@include flex(flex-start, stretch, column);
	}
	.contacts-form__info {
		margin-bottom: 7px;
	}
}
