.projects {
	color: $addColorText;
	@include flex(center, center, column);
	& .background-text {
		@include flex;
		width: 100%;
		color: #ffffff59;
		letter-spacing: 5px;
		font-size: 4rem;
		line-height: 1;
		top: 5%;
		left: 0%;
	}
	&__heared {
		@include flex;
		background-color: #303263;
		min-height: 120px;
		position: relative;
		width: 100%;
	}
	&__title {
		position: relative;
		z-index: 2;
		font-size: 1.5rem;
	}

	&__works {
		@include flex;
		flex-wrap: wrap;
		max-width: 1500px;
	}
	&__work {
		transition: transform 0.4s;
		&:nth-child(-n + 2) {
			width: calc(100% / 2);
			&:hover {
				transform: scale(1.1);
			}
		}
		&:nth-last-child(-n + 4) {
			width: calc(100% / 4);
			&:hover {
				transform: scale(1.3);
			}
		}
	}
	&__img {
		width: 100%;
		height: 100%;
	}

	&__footer {
		@include flex;
		background-color: #303263;
		min-height: 120px;
		width: 100%;
	}
	& .button {
		background-color: #ffffff40;
		&:hover {
			background-color: #ffffff20;
		}
	}
}

@import "./projects-media";
