@media (max-width: $bp2) {
	.projects {
		& .background-text {
			letter-spacing: 3px;
			font-size: 3rem;
			top: 17%;
		}
		&__heared {
			min-height: 90px;
		}
		&__footer {
			min-height: 90px;
		}
	}
}

@media (max-width: $bp4) {
	.projects__heared {
		min-height: 80px;
	}
	.projects__footer {
		min-height: 80px;
	}
}

@media (max-width: $bp6) {
	.projects {
		& .background-text {
			letter-spacing: 2px;
			font-size: 2.2rem;
			top: 26%;
		}
		&__title {
			font-size: 1.3rem;
		}
	}
}
